<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @kind_transaction.description %>
</p>

<%= link_to 'Edit', edit_kind_transaction_path(@kind_transaction) %> |
<%= link_to 'Back', kind_transactions_path %>
