<h1>MENU</h1>
<ul>
	<li><%= link_to "Contas", accounts_path %></li>
	<li><%= link_to "Tipos de Transações", kind_transactions_path %></li>
	<li><%= link_to "Categorias", categories_path %></li>
	<li><%= link_to "Transações", transactions_path %></li>
</ul>
