<h1 class="page-header"></h1>
<div class="row">
  <div class="col-lg-4 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <h4 align="center">Saldo em contas</h4>
          <div class="col-xs-9 text-center">
            <div class="huge center" align="centerLayou">
              <%= number_to_currency(sald_to_account, unit:"R$", separator: ",", delimiter: "") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <h4 align="center">Total Receitas</h4>
          <div class="col-xs-6 text-center">
            <div align="center" class="huge center" align="centerLayou">
              <%= humanized_money (total_incomes) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <h4 align="center">Total Despesas</h4>
          <div class="col-xs-6 text-center">
            <div align="center" class="huge center" align="centerLayou">
              <%= humanized_money_with_symbol(total_expenses) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>